doctype html
html
  head
    meta(charset='utf-8')
    title Test
    link(rel='stylesheet', href='style.css', type='text/css', media='screen')
    script(src='http://maps.google.com/maps/api/js?sensor=false')
    script(src='http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/markerclusterer.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.7/angular.min.js', charset='utf-8')
    script(src='./../dist/ng-clustered-map.min.js')
  body(ng-app='test.app')
    div(ng-controller='testCtrl')
      clustered-map(markers='test')

  script.
    angular.module('test.app', ['clustered.map']).controller('testCtrl', function($scope) {
      var test = [[1,2,5],[2,1,4],[1.3,1.6,7],[2,2,8],[1.1,1.2,1],[3,1,9],[2.2,1.3,3],[1.5,.4,20]];
      test = test.map(function(t) {
        t.push('<img src="https://angularjs.org/img/AngularJS-small.png">')
        t.push('https://maps.google.com/mapfiles/kml/shapes/schools_maps.png')
        return t
      })
      $scope.test = test
    })

